<h2>ToDo List</h2>

<form method='POST' action='/'>
  <input type="text" name="item" size="20">
  <input type="submit" value="Go!">
</form>

<hr>

<% unless @todoings.nil? %>
  <% @todoings.each do |todo| %>
    <%= todo[:item] %>
    <% if todo[:done] == 1 %>
      Done!
    <% else %>
      undone
      <form method='POST' action='/mark_done'>
        <input type="hidden" name="item" value=<%= todo[:id]%>>
        <input type="submit" value="Mark As Done">
      </form>
    <% end %><br>
  <% end %>
<% end %>
